service: beer-shop-products
provider:
    name: aws
    runtime: nodejs8.10
    stage: dev
    region: eu-north-1
    iamRoleStatements:
      - Effect: Allow
        Action:
          - dynamodb:Scan
        Resource: "arn:aws:dynamodb:eu-north-1:*"
functions:
  get:
    handler: products/get.get
    events:
      - http:
          path: products
          method: get
          cors: true
